.users{
    flex:5.5
}

.usersWrapper{
    padding: 20px;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
}

.th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1a77f2;
    color: white;
}